#main{
    background-color: #f2f3f4;
}

.content{
  text-align: center;
  background-color: lightblue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e60000;
  color: white;
  text-align: center;
}

.navbar-light .navbar-brand{
  color: #e60000 !important;
}

/* color of hovered item */
.list-group-item.active{
  background-color: rgb(179, 0, 0) !important;
  border-color: rgb(179, 0, 0) !important;
}

.container{
  margin-top: 50px;
  padding: 5px;

}

li h5{
  color:#e60000;
  font-family: Helvetica;
}



ol{
  list-style: none;
  padding: 0;
}

.main{
  padding-bottom: 50px;
  padding-top: 30px;


}

.innerList{
    background-color: white;
    margin: 10px;
    padding: 30px;
    border-radius: 25px;
}

#icon{
  width: 50px;
  height: 50px;
}

#foot{
  margin-top: 30px;
}

#icon:hover{
  color: white;
}

a:link, a:visited{
  color: white;
}

#eventsTitle{
  text-align: center;
  color: #e60000;
  font-family: Helvetica;
  font-weight: bold;
}

.date{
  font-weight: bold;
  color: black
}
