/* center the main image */
#mainIMG{
  text-align: center;
}

body{
  background-color: #f2f3f4;
}

.navbar-light .navbar-brand{
  color: rgb(179, 0, 0) !important;
}


#main{
  /* background-color: pink; */
}
.content{
  text-align: center;
  background-color: lightblue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(179, 0, 0);
  color: white;
  text-align: center;
}
/* #insta{
  width: 60px;
  height: 60px;
}

#linked{
  width: 60px;
  height: 60px;
} */

#sizeIt{
  width: 30px;
  height: 30px;
}

#icon{
  width: 50px;
  height: 50px;
}

#foot{
  margin-top: 30px;
}

#icon:hover{
  color: white;
}

a:link, a:visited{
  color: white;
}
