.navbar-light .navbar-brand{
  color:  #e60000 !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #e60000;
  color: white;
  text-align: center;
}

body{
  background-color: #f2f3f4;
}

#icon{
  width: 50px;
  height: 50px;
}

a:link{
  color: black;
}

.btn{
  color: white;
}


#foot{
  margin-top: 30px;
}

#icon:hover{
  color: white;
}

#icon{
  color: white;
}
.icon a:link, .icon a:visited{
  color: white;
}

.head{
  color: blue;
}
