.navbar-light .navbar-brand{
  color:  #e60000 !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #e60000;
  color: white;
  text-align: center;
  font-family: Verdana;
}

body{
  background-color: #f2f3f4;
}

#icon{
  width: 50px;
  height: 50px;
}

a:link{
  color: black;
}

.btn{
  color: white;
}


#foot{
  margin-top: 30px;
}

#icon:hover{
  color: white;
}

#icon{
  color: white;
}
.icon a:link, .icon a:visited{
  color: white;
}

.head{
  color: blue;
}

.card-columns{
  text-align: center;
}

#ArticleTitle{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: verdana;
  color: #e60000;
}

.card{
   border-radius: 35px;
   border-style: none;
}

.card:hover{

  cursor: pointer;
  background-color: #F5F5F5;

}

.card-body p, h5{
  font-family: Verdana;
}
