.navbar-light .navbar-brand{
  color:  rgb(176,0,0) !important;
}

.footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  rgb(176,0,0);
  color: white;
  text-align: center;
  font-family: Verdana;
}

body{
  background-color: #f2f3f4;
}

#icon{
  width: 50px;
  height: 50px;
}

a:link{
  color: black;
}

.btn{
  color: white;
}


#foot{
  margin-top: 30px;
}

#icon:hover{
  color: white;
}

#icon{
  color: white;
}
.icon a:link, .icon a:visited{
  color: white;
}

.head{
  color: blue;
}

.card-columns{
  text-align: center;
}

#ArticleTitle{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: verdana;
  color: rgb(176,0,0);
}



.card:hover{

  cursor: pointer;
  background-color: #F5F5F5;

}

.card-body p, h5{
  font-family: Verdana;
}

.card{

  border-radius: 100px;
}

#cardContainer{
  margin-bottom: 10px;
}
