.navbar-light .navbar-brand{
  color: #e60000 !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e60000;
  color: white;
  text-align: center;
  font-family: Verdana;
}

#resourcesHeader{
  font-family: Verdana;
  color: #e60000;
  text-align: center;
  /* font-weight: bold; */
}

body{
  background-color: #f2f3f4;
}

#icon{
  width: 50px;
  height: 50px;
}

#foot{
  margin-top: 30px;
}

#icon:hover{
  color: white;
}

a:link, a:visited{
  color: white;
}

#dif:hover{
  color: rgb(179, 0, 0);
}

#dif:link, #dif:visited{
  color: rgb(179, 0, 0);
}


.container{
  margin-top: 50px;
  padding: 5px;
    font-family: Verdana;

}

img{
  width: 10%;
  height: 10%;
}

#head{
  color: #A9A9A9;
  font-family: Verdana;
}

li{
  padding-bottom: 20px;
}
